@model HumanAid.Models.Envio

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Envío</h1>

<h3>¿Estás seguro de que deseas eliminar este envío?</h3>
<br/>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" asp-route-id="@Model.EnvioId" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EnvioId" />

            <div class="form-group">
                <label asp-for="CodigoEnvio" class="control-label"></label>
                <input asp-for="CodigoEnvio" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="Destino" class="control-label"></label>
                <input asp-for="Destino" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <label asp-for="TipoEnvio" class="control-label"></label>
                <input asp-for="TipoEnvio" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <label for="Sedes" class="control-label">Sedes Organizadoras</label>
                <select id="Sedes" name="sedeIds[]" class="form-control" disabled>
                    @foreach (var sede in ViewBag.Sedes)
                    {
                     <option value="@sede.SedeId" >@sede.Nombre</option>
                    }
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label for="Estado">Estado</label>
                <input asp-for="Estado" class="form-control" readonly />
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Eliminar" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
<br/>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}